<div class="container-fluid">
    <%- include('../partials/_user_profile_details', { displayUser: displayUser, employment: employment, isOwnProfile: isOwnProfile, canViewContact: canViewContact }) %>
</div>